{% extends "base_site.html" %}
{% load i18n admin_static material_form %}

{% block content %}
<br>
<div class="row">
    <a href='/thehindu/'>
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <center><span class="card-title black-text">{% trans 'The Hindu' %}</span><br></center>

            </div>
        </div>
    </div>
    </a>
</div>
<div class="row">
    <a href='/timesofind/'>
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <center><span class="card-title black-text">{% trans 'BBC News' %}</span></center>
            </div>
        </div>
    </div>
    </a>
</div>
{% endblock %}
